h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #FF1515;
}

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    padding-bottom: 20px;
}

h3 {
    padding-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

li {
    padding-top:5px;
    padding-bottom: 3px;
    font-size: 15px;
}

img {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right:auto;
}

#release_dates {
    font-weight: bold;
    color: red;
    font-style: italic;
}

#poster {
    height: 353px;
    width: 282px;
}

.nav-link {
    color: red;
}

#castnames {
    text-align: center;
}


