{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {% if price %}
        <table class="table table-striped table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ price }}</td>
                    <td>{{ symbol }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
